%body
  .header
    .titles
      アカウント情報入力
  .sinupPage
    
    .form_container
      .user_icon
        =====
        = icon('fas','biking')
        %i.fas.fa-biking.fa-spin
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"mt-5" }) do |f|
        = devise_error_messages!
        %label.rounded-circle.userProfileImg{:for => "file_photo"}
          .userProfileImg_description 
            画像をアップロード
          .img_icon
            %i.fas.fa-camera.fa-3x
            = f.file_field :img, class: "file_photo"
        #userImgPreview.userImgPreview
          %img#thumbnail.userImgPreview_content{:accept => "image/*", :src => ""}/
          -# %p.userImgPreview_text 画像をアップロード済み
        .form-group
          .name-form
            = f.text_field :name, class: "form-control", placeholder: "名前を入力してください"
        %br/
        .form-group
          .email-form
            = f.email_field :email, class: "form-control", placeholder: "emailを入力してください" ,autocomplete: "email"
        %br/
        .form-group
          .password-form
            = f.password_field :password, class: "form-control", placeholder:"パスワードを入力してください", autocomplete: "off"
        .form-group
          .password-form
            = f.password_field :password_confirmation, class:"form-control", placeholder: "パスワードを再度入力してください", autocomplete: "off"
        .form-group
          %div
            %label.radio_text{:for => ""} どちらで登録するか選択してください(メンター：プログラミングを教える人"、メンティー：プログラミングを教わる人)
          .form-check.form-check-inline
            = f.radio_button :select, "mentor", class: "form-check-input", id: "inlineRadio1"
            %label.form-check-label-mentor{:for => "inlineRadio1"} メンター
          .form-check.form-check-inline
            = f.radio_button :select, "mentee", class: "form-check-input", id: "inlineRadio2"
            %label.form-check-label-mentee{:for => "inlineRadio2"} メンティー
        .form-group
          .text-form
            %label 自己紹介文
            = text_area :user, :self_introduction, maxlength: "1000", rows: "10", class:"form-control",placeholder: "＜書き方例＞\r\n\●メンティーで登録する場合\r\n\学習中の言語：HTML/CSS、PHP、Paython\r\n\現在の目標：プログラマーとして転職\r\n\Tech-Upを利用する理由：個人アプリ作成の手助けをしてくれるメンターを探すため\r\n\r\n●メンターで登録する場合\r\n職業：サーバーサイドエンジニア\r\n実務経験：HTML/CSS 3年、Javascript 2年、Ruby/Rails 2年\r\n対応可能日時：平日19時以降"
        .text-center
          = f.submit "登録する", class: "signupBtn"
          = render "devise/shared/links"

    .tech-up_description
      = image_tag("logo.png", size:"150x90")
      に登録してる方のサンプル
      %br/
      %br/
      .mentee-container
      %h6●メンティーとして登録されてる方の場合
      %br/
      .text-area
        ・プログラミングスクールを卒業したのに思うようにスキルが伸びず、就職が不安な方
        %br/
        ・未経験からプログラマーに転職はしたもの自分のスキルの無さに挫折しそうな方
        %br/
        ・自分のプログラミングスキルを短期間で伸ばしたい方
      %br/
      %br/
      %br/
      .mentor-container
      %h6●メンターとして登録されてる方の場合
      %br/
      .text-area
        ・場所や時間を選ばず、完全リモートで仕事をしたい方
        %br/
        ・本業とは別に副業をされたい方
        %br/
        ・将来、プログラミング教育分野で起業したい方
  .fotter_container
    .tech-up_logo
      = image_tag("logo.png", size:"150x90")



