.topPage
  %nav.nav
    %ul
      %li.personIcon= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id))
      .appIcon= link_to image_tag("logo.png", size:"150x90"), action: "index"
  #tinderslide
    %ul
      - @user.each do |user|
        %li{"data-user_id" => "#{user.id}"}
          .userName
            = user.name
          .userIntroduction
            = user.self_introduction
          .userImage
            = image_tag user.img.url(:thumb)
          .like
          .dislike
    .noUser 近くにお相手がいません。
  #actionBtnArea.actions
    %a.dislike{:href => "#"}
      %i.far.fa-thumbs-down.fa-2x{style: "color:green;"}
    %a.like{:href => "#"}
      %i.far.fa-thumbs-up.fa-2x{style: "color:green;"}
:javascript
  $("#tinderslide").jTinder();
  $('.actions .like, .actions .dislike').click(function(e){
  	e.preventDefault();
  	$("#tinderslide").jTinder($(this).attr('class'));
  });
